:root {
    /* Brand Colors */
    --socialshares-twitter:    #55acee;
    --socialshares-facebook:   #3b5998;
    --socialshares-googleplus: #dc4e41;
    --socialshares-reddit:     #ff4500;
    --socialshares-tumblr:     #36465d;
    --socialshares-linkedin:   #0077b5;
    --socialshares-pinterest:  #bd081c;
    --socialshares-delicious:  #3399ff;
    --socialshares-slack:      #56b68b;
    --socialshares-vk:         #6383a8;
    --socialshares-email:      #111111;
}

/* Reset box-sizing */
.socialshares,
.socialshares *,
.socialshares *:before,
.socialshares *:after {
	box-sizing: border-box;
}

.socialshares {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    cursor: default;
}

.socialshares-btn {
    display: inline-block;
    margin: 0;
    padding: .25em .5em;
    color: #222;
    background: rgba(0, 0, 0, .1);
	font-weight: 500;
	font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1em;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;

    &-small {
        font-size: 14px;
    }

    &-medium {
        font-size: 18px;
    }

    &-large {
        font-size: 21px;
    }

    &:hover,
    &:focus {
        background: rgba(0, 0, 0, .2);
        border-color: rgba(0, 0, 0, .25);
        outline: none;
    }

    &:active {
        background: rgba(0, 0, 0, .3);;
        border-color: rgba(0, 0, 0, .35);;
    }

    &:not(:first-child) {
        margin-left: .5em;
    }

    &-icon {
        display: inline-block;

        & svg {
            position: relative;
            top: .1em;
            width: auto;
            height: .9em;
        }
    }

    &-text {
        display: inline-block;
    }

    &-icononly &-text {
        display: none;
    }
}

.socialshares-twitter {
    & svg {
        fill: var(--socialshares-twitter);
    }
}

.socialshares-facebook {
    & svg {
        fill: var(--socialshares-facebook);
    }
}

.socialshares-googleplus {
    & svg {
        fill: var(--socialshares-googleplus);
    }
}

.socialshares-reddit {
    & svg {
        fill: var(--socialshares-reddit);
    }
}

.socialshares-tumblr {
    & svg {
        fill: var(--socialshares-tumblr);
    }
}

.socialshares-linkedin {
    & svg {
        fill: var(--socialshares-linkedin);
    }
}

.socialshares-pinterest {
    & svg {
        fill: var(--socialshares-pinterest);
    }
}

.socialshares-delicious {
    & svg {
        fill: var(--socialshares-delicious);
    }
}

.socialshares-slack {
    & svg {
        fill: var(--socialshares-slack);
    }
}

.socialshares-vk {
    & svg {
        fill: var(--socialshares-vk);
    }
}

.socialshares-email {
    & svg {
        fill: var(--socialshares-email);
    }
}
